// AdDetails.module.sass

.ad-details-container
  border-radius: 8px
  border: 1px solid lightgray
  color: inherit
  background-color: white
  text-align: center
  padding: 24px

  .ad-details-title
    font-weight: bold
    margin-bottom: 16px

  .ad-details-price
    margin-top: 16px
    
    font-weight: bold

  .ad-details-image
    width: 50%
    border-radius: 8px
